.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    background-color:#3b7c97;
    border:1px solid white;
    border-radius:5px;
    padding:10px;
    font-family: 'Poppins', sans-serif;
}