.countries{
    display: flex;
    flex-direction: column;
    margin:100px auto;
    align-items: center;
    
    @media (max-width: 800px) {
        width: 420px;
        height: 450px;
    }

    .countries_title{
        font-size: 30px;
        margin-bottom: 10px;
    }

    .countries_box{
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        
        .countries_list{
            font-size:18px;
            margin-bottom: 6px;
            
            .countries_list-input{
                margin-right: 10px;
            }

            .countries_list-text{
                display: flex;
                flex-direction: row;
                align-items: center;

                .btn-info{
                font-size: 10px;
                font-weight: bold;
                padding: 5px;
                margin-right:15px;
                }
            }
        } 
    }

    .countries_btn{
        display: flex;
        padding: 5px;

        .btn{
            margin: 0 60px;
        }
    }
}

