
.form{
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 800px) {
        width: 420px;
        height: 450px;
    }

    @media (max-width: 600px) {
        width: 300px;
    }
}
  
.form-content {
    padding-left: 12%;
    padding-right: 12%; 
    display: flex;
    flex-direction: column;

    .form_input{
        width:170px;
        height: 30px;
        display: flex;
        margin-top:5px;
        margin-bottom: 15px;
        border: 1px solid white;
        border-radius:4px;
        padding-left:5px;
    }
}
  
.form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;

    @media (max-width: 800px) {
        font-size: 20px;
    }
    @media (max-width: 400px) {
        font-size: 15px;
    }
}
  
label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}