
.containerNav {
    width: 100vw;
    height: 150px;
    background-color: #2b7391;
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;

    .nav{
        display: flex;
        align-items: center;
        padding: 30px;
        list-style: none;
        cursor: pointer;   
    }

    a {
        text-decoration: none;
        color:black;
        
        &:hover{
            color:white;
        }
    }

    .navLink{
        font-size: 20px;
        margin-left:60px;
        color:black;
        text-decoration: none;

        @media (max-width: 800px) {
            font-size: 20px;
            padding: 20px;
            margin-left:20px;
        }
        @media (max-width: 660px) {
            font-size: 15px;
            padding: 20px;
            margin-left:10px;
        }
        
    }

    .logo{
        font-size: 80px;
        padding: 30px;
        margin-left:60px;
        color: white;

        @media (max-width: 800px) {
            font-size: 50px;
            margin-left:20px;
            margin-top:20px;
        }
        @media (max-width: 660px) {
            font-size: 40px;
            margin-left:10px;
            margin-top:20px;
        }
    }
}