
.containerNav {
    width: 100vw;
    height: 150px;
    background-color: #2b7391;
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;

    .nav{
        display: flex;
        align-items: center;
        padding: 30px;
        list-style: none;
        cursor: pointer;   

        @media (max-width: 700px) {
            display: none;
        }
    }

    .navLink{
        font-size: 20px;
        margin-left:60px;
        color:black;
        text-decoration: none;

        @media (max-width: 800px) {
            font-size: 20px;
            padding: 20px;
            margin-left:20px;
        }
        @media (max-width: 660px) {
            font-size: 15px;
            padding: 20px;
            margin-left:10px;
        }

        @media (max-width: 660px) {
            font-size: 15px;
            padding: 10px;
            margin-left:10px;
        }
    }

    .logo{
        display: flex;
        align-items: center;
        font-size: 80px;
        padding: 30px;
        margin-left:60px;
        color: white;

        @media (max-width: 800px) {
            font-size: 60px;
            margin-left:20px;
            padding: 20px;
        }

        @media (max-width: 600px) {
            font-size: 50px;
        }
    }
}

@media screen and (max-width: 700px) {

    .changetheme {
    margin-right: 100px;
    }
}
  
.bm-item {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 20px;
    color: #d1d1d1;
    transition: color 0.2s;
}
  
.bm-item:hover {
    color: white;
}
  
.bm-burger-button {
    display: none;
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 36px;
}
  
@media screen and (max-width: 700px) {
    .bm-burger-button {
        display: block;
    }
}
  
.bm-burger-bars {
    background: black;
    margin-top: 27px;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-cross {
    background: #bdc3c7;
}

.bm-menu {
    background: #2b7391;
    padding: 1.3em 0.1em 0;
    font-size: 1.15em;
}

.bm-morph-shape {
    fill: #373a47;
}

.bm-item-list {
    color: #b8b7ad;
}

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    padding:20px;
}